{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Get Historical Market Data</h1>
        <div class="col-lg-6 mx-auto">
            <form method="POST" action="/">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">{{ form.symbol.label }}</label>
                    {{ form.symbol(class_="form-control text-center", size=25) }}
                </div>
                <div class="mb-3">
                    <label for="date_from" class="form-label">{{ form.date_from.label }}</label>
                    {{ form.date_from(class_="form-control text-center", size=25) }}
                </div>
                <div class="mb-3">
                    <label for="date_to" class="form-label">{{ form.date_to.label }}</label>
                    {{ form.date_to(class_="form-control text-center", size=25) }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="table-responsive">
    <table class="table caption-top">
      <caption>List of Symbols</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Symbol</th>
        </tr>
      </thead>
      <tbody>
      {% for symbol in symbols %}
        <tr>
          <th scope="row">{{ symbol.name }}</th>
          <td>{{ symbol.symbol }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}